<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CBSNews Gallery App</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <script src="/styles/main.js"></script>
</head>
<body>



    {{{body}}}

</body>
<footer class="foot">
    <p>PLACEHOLDER FOR copywrite/etc
    </p>
</footer>

</html>