<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CBSNews Gallery App</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
    {{{body}}}
</body>
</html>