<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CBSNews Gallery App</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <script src="/styles/main.js"></script>
</head>
<body>
<h1 class="header">Current Events Around The World Now</h1>

<div class="bodyHandlebar">
    {{{body}}}
</div>

</body>
<footer class="footer">
    <p> App developed by NYCDA-WDI-PT-GRP5 &copy CBSNews 2018
    </p>
</footer>

</html>