body {
	background: black;
}

.article{
		position: relative;
		left: 280px;
		width: 300px;
}

.gImage {
	border: 2px solid black;
	height: 300px;
	width: 300px;
	position: relative;
	top: 20px;
}

.dHeadline {
	font-size: 22px;
    height: 10px;
    position: relative;
    color: white;
		left:20px;
}

.dCaption {
	font-size: 10px;
	    height: 10px;
	    position: relative;
	    top: 6px;
	    left: 90px;
	    font-style: italic;
	    color: white;

}

.dPhotoCredit {
	font-size: 8px;
    height: 10px;
    position: relative;
    left: 95px;
    color: white;
}

.dDescription {
	font-size: 15px;
height: 10px;
position: relative;
top: 5px;
color: white;
}
