body {
	background: cornflowerblue;
}

.bodyHandlebar{
	margin: 0 auto;
}

.article {

}

.dHeadline{
	position: relative;
	color: black;
	text-align: center;
}
.g1Contain{
	width: 100%;
	text-align: center;
	float: left;
	}

.g1Image {
	height: 350px;
  position: relative;
	padding-right: 40px;
	width: 585px;
}


.capContain{
	float: right;
    width: 27%;
    position: relative;
    top: -290px;
    left: auto;
}

.dCaption {
	font-size: 10px;
	font-style: italic;
	color: black;
}

.dPhotoCredit {
	font-size: 8px;
    position: relative;
    left: 281px;
    top: auto;
    color: black;
    text-align: center;
}

.dDescription {
	font-size: 15px;
    position: relative;
    left: 200px;
    color: black;
    text-align: left;
}
.header {
	margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.footer {
	position: relative;
	top: 500px;
    text-align: right;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

.bodyHandlebar {
	margin: 0 auto;
	width: 95%;
}
